* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}

body {
    background: #89B1A5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:200vh;
}
h1 {
    color: #0a0101;
    font-size: 4rem; 
    font-weight: 600;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px); 
}

body, h1, h2, p{
    color: black;
}
.texto-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 500px; 
}

header h1 {
    font-size: 48px; 
    color: #fff; 
    background-color: #008000; 
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}
.encabezado-conoceme {
    text-align: center;
    margin-bottom: 20px; 
}

.img-modificada {
    width: 300px; /* Establece el ancho deseado */
    /* height: auto; */ /* Opcional: el navegador ajustará automáticamente la altura para mantener la proporción */
}